
body {
  padding-top: 50px;
}

.btn-link {
  color: white;
}

.btn-link:hover {
  color: #ba036b;
}
.header {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: blue;
  color: white;
}

.thing1 {
  padding-top: 50px;
}

.thing2 {
  padding-top: 20px;
}

.form-group {
  display: block;
  text-align: center;
}

.login-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.reg-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.lbl-lg {
  font-size: 20px;
}

.input-group .form-control:last-child:first-child {
    border-radius: 5px;
}

.foot {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: blue;
  color: white;
}

.index-foot {
  position: absolute;
}

.input {
  width: 50%;
  text-align: center;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.db-col {
  border-style: solid;
  border-width: thin;

}

.idea-search {
  border-style: solid;
  border-width: thin;
  padding: 10px;
}

.idea-results {
  border-style: solid;
  border-width: thin;
  padding-bottom: 10px;
}

.topic-btns {
  padding-left: 150px;
  padding-top: 50px;
}

.req {
  color: red;
}
