<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header class="header container">
      <nav class="navbar navbar-light navbar-full bg-faded">
        <a class="navbar-brand header-txt" href="/login">Idea Exchange</a>

        <div class="btn-group nav-item dropdown navbar-right header-btn">
          <button class="btn btn-secondary dropdown-toggle menu-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/login">Login</a><br>
            <a class="dropdown-item" href="/users">Register</a><br>
            <a class="dropdown-item" href="/dashboard">My Dashboard</a><br>
            <a class="dropdown-item" href="/search">Search Ideas</a><br>
            <a class="dropdown-item" href="/posts">Post an Idea</a><br>
          </div>
        </div>

      </nav>
    </header>
    <% if(hasError) { %>
    <div class="row">
      <div class="col-md-4 errorBlock">
        <% for(var item in error) { %>
          <strong><h6><%= item %></h6></strong>
          <ul>
          <% for(var i = 0; i < error[item].length; i++) { %>
              <li>
                <i>
                  <%= error[item][i].message %>
                </i>
              </li>
          <% } %>
          </ul>
        <% } %>
      </div>
    </div>
  <% } %>
    <div class="form-group column-pad1">
      <form class="login-form" action="/login" method="post">
        <div class="text-center form-group">
          <label class="lbl-lg" for="email">Email</label>
        </div>
        <div class="input-group input-group-lg">
          <input class="form-control" type="email" id="email" name="email" required autofocus></input>
        </div>
        <div class="text-center">
          <label class="lbl-lg" for="digest">Password</label>
        </div>
        <div class="input-group input-group-lg">
          <input class="form-control" type="password" id="password" name="password" required></input>
        </div>
        <br>
        <div class="text-center">
          <button class="btn btn-lg btn-primary" type="submit" id="login-btn">Login</button>
        </div>
      </form>
      <br><br>
      <h5>Or click here to register:</h5>
      <button class="btn btn-sm btn-secondary"><a href="/users">Register</a></button>
    </div>
    <footer class="foot index-foot">
      <h6>&copy; 2017 Rally Jinx</h6>
    </footer>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
