<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div class="row restricted">
      <h1>UNAUTHORIZED. THIS COMPUTER WILL SELF-DESTRUCT IN 30 SECONDS.</h1>
      <h6>or click here to login</h6>
      <button class="btn btn-lg btn-secondary"><a href="/login">Login</a></button>
      <h6>or here to register</h6>
      <button class="btn btn-lg btn-secondary"><a href="/users">Register</a></button>
    </div>
    <div class="row filler-image">
      <img src="http://www.fillmurray.com/200/300" alt="placeholder murray">
    </div>
    <footer class="foot index-foot restrict-foot">
      <h6>&copy; 2017 Rally Jinx</h6>
    </footer>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
