
body {
  padding-top: 50px;
  background-color: #f5f5f5;
}

.btn-link {
  color: white;
}

.btn-link:hover {
  color: #ba036b;
}
.header {
  text-align: left;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: blue;
  color: white;
}

.restrict_header {
  background-color: red;
}

.header-txt {
  color: white;
  font-size: 50px;
  font-family: 'Caveat', cursive;
}

.logout-btn {
  color: white;
}
.logout-btn:hover {
  color: green;
}

.header-txt:hover {
  color: #ba036b;
}

.header-btn {
  padding-right: 50px;
  padding-top: 10px;
}

.column-pad1 {
  padding-top: 50px;
}

.column-pad2 {
  padding-top: 20px;
}

.form-group {
  display: block;
  text-align: center;
}

.login-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.reg-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.lbl-lg {
  font-size: 20px;
}

.input-group .form-control:last-child:first-child {
    border-radius: 5px;
}
.post-text {
  width: 50%;
}
.foot {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: blue;
  color: white;
}

.index-foot {
  position: absolute;
  padding-left: 50px;
  padding-top: 15px;
}

.restrict-foot {
  background-color: red;
}

.input {
  width: 50%;
  text-align: center;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.db-col {
  border-style: solid;
  border-width: thin;

}

.idea-search {
  border-style: solid;
  border-width: thin;
  padding: 10px;
  text-align: center;
}


.idea-results {
  border-style: solid;
  border-width: thin;
  padding-bottom: 10px;
}

/*is this used???*/
.topic-btns {
  padding-left: 150px;
  padding-top: 50px;
}

.topic-search-btn {
  background-color: white;
}
.req {
  color: red;
}

.restricted {
  text-align: center;
  padding: 50px;
  padding-top: 10px;
}

.filler-image {
  text-align: center;
}

.new-search {
  text-align: center;
  color: blue;
}
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
